$green: #679436;
$yellow_green: #9bc04f;
$grey: #777777;
$btnBorderRadius: 35px;

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  border-top: solid 50px #333;

}

.eol {
  padding: 1px 8px;
  display: block;
}

.objs {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
  vertical-align: middle;
  width: 800px;
  margin: 20px auto auto 100px;

  h2 {
    font-size: 40px;
    font-weight: bold;
  }

  p {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    color: $grey;
  }
}

.tree {
  width: 1000px;
}

.btn, .btn:hover, .btn:active, .btn:visited, .btn-outline, .btn:focus {
  background-color: $green;
  color: white;
  border-radius: $btnBorderRadius;
  width: 250px;
  height: 55px;
  outline: none !important;
  box-shadow: none;
}

.dropdown-menu {
  margin-left: 7.5%;
  width: 45%
}

.btn:hover, .btn:active {
  background-color: $yellow_green;
}

.dropdown {
  align-content: center;
  align-items: center;
}

.dropdown-item:active {
  background-color: $yellow_green;
}

.custom {
  color: $green;
}

select {
  background-color: $green;
  color: white;
  border-radius: $btnBorderRadius;
  width: 175px;
  height: 55px;
  outline: none !important;
  border: none;
  box-shadow: none;
  padding: 5px;
}

select:hover, select.active {
  background-color: $yellow_green;
}

option {
  background-color: white;
  color: black;
}

@media only screen and (min-width: 601px) and (max-width: 960px) {}

@media only screen and (max-width: 767px) {
  .tree {
    width: 0;
  }
  .dropdown-menu {
    margin-left: 5.9%;
    width: auto;
  }
}

@media (min-width: 48em) {
  .eol {
    padding: 0;
  }
}


